# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/target/
!/.attach_pid7014
!/.attach_pid15693
将删除 .attach_pid15693
将删除 .attach_pid7014
!/.attach_pid7014
!/.attach_pid15693
